@import "src/app/core/scss/fuse";

.no-margin {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.shadow {
  text-shadow: 1px 1px gray;
}
.center-text {
  text-align: center;
}
.text-bold {
  font-weight: bold
}
.no-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}
