<div class="page-layout simple fullwidth">
  <!-- CONTENT -->
  <div class="content p-24 w-100-p">

    <!-- WIDGET GROUP -->
    <div class="widget-group" fxLayout="row" fxFlex="100" fxLayoutWrap fxLayoutAlign="start start" *fuseIfOnDom [@animateStagger]="{value:'50'}">

      <h2> {{helloWorld}} </h2>
      <h2>{{ helloWorldLabelQuery$ | async}}</h2>
      <h2>{{ helloWorldLabelSubscription$ | async}}</h2>

      <!-- <fuse-theme-options></fuse-theme-options> -->


    </div>
    <!-- / WIDGET GROUP -->
  </div>
  <!-- / CONTENT -->

</div>
