p{
    margin: 0px
}
.balance_content{
    margin-left: 5px;
    margin-right: 105pxpx;
    margin-bottom: 5px;
    margin-top: 5px;
    // border: 1px solid #4CAF50;
    background: rgba(57, 73, 172, 0.10);
    border-radius: 10px;
}
