@import 'src/app/core/scss/fuse';

:host {
  .mat-header-cell {
    color: #444444;
    font-size: 15px;
  }

  .mat-header-row {
    position: sticky;
    top: 0;
    background: white;
    z-index: 9999
  }

  .events-table {
    flex: 1 1 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    overflow: auto;

    .mat-header-row {
      min-height: 60px;
      padding: 0 12px !important;
    }

    .mat-row {
      position: relative;
      cursor: pointer;
      height: 51px;
      padding: 0 12px !important;
    }
  }
}
p{
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}
.no-margin {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.text-bold {
  font-weight: bold
}
.center-text {
  text-align: center;
}
