<fuse-widget class="widget h-500" fxFlex="100" fxLayout="column" fxLayoutAlign="space-between start">
  <!-- <fuse-widget> -->
  <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
    <!-- FILTER OPTIONS -->
    <div class="px-16 border-bottom" fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap>

      <button *ngIf="topEvents && topEvents.length > 0" mat-icon-button fxFlex="10" fxFlex.gt-sm="10"
          (click)="eventListenerSwicht()" >
        <mat-icon *ngIf="listeningEvent">flash_on</mat-icon>
        <mat-icon *ngIf="!listeningEvent">flash_off</mat-icon>
      </button>

      <div fxLayout="column" fxLayoutAlign="center center" fxFlex="70" fxFlex.gt-sm="70">
        <div class="h2 pr-16">{{ 'INDICATORS.TITLE' | translate }}</div>
      </div>

      <mat-form-field fxLayout="column" fxLayoutAlign="center center" fxFlex="20" fxFlex.gt-sm="20">
        <mat-select class="simplified" [(ngModel)]="balanceTable.currentTimeRange" (change)="balanceTable.onScaleChanged($event.value)"
          aria-label="Change range">
          <mat-option *ngFor="let range of balanceTable.timeScales | keys" [value]="range.value">
            {{ 'WIDGETS.TIMESCALES.' + range.key | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- FILTER OPTIONS -->
    <!-- OPTION LIST -->
    <div id="allEventOptions" fxLayout="column" fxLayoutAlign="space-evenly stretch" fxFill style="margin-top: 10px">
      <div appHighlight *ngFor="let row of topEvents.slice(0,5)" [routerLink]="[row.eventType]" fxLayout="row" fxLayout.gt-md="column"
        fxLayout.gt-xs="row" fxLayoutAlign="center center">
        <mat-divider [inset]="true"></mat-divider>
        <!-- EVENT NAME -->
        <div id="event_type" fxFlex.gt-xs="100" fxFlex.gt-md="100" fxLayoutAlign="center center">
          {{row.eventType}}
        </div>
        <!-- EVENT NAME -->
        <!-- BALANCE BODY -->
        <div id="balances" fxFlex.gt-xs="40" fxFlex.gt-md="100" fxLayout="row" fxLayoutAlign="space-evenly center">

          <div class="balance_content" *ngFor="let i of [0, 1, 2]" fxFlex.gt-xs="33" fxFlex.gt-md="100">
            <div id="balance_title" fxLayoutAlign="center center">
              {{row.date[i]}}
            </div>
            <div *ngIf="row.date[i] !== '---'">
              <td fxLayout="row" fxLayoutAlign="center center">

                <p>{{row.total[i] + '( ' }}</p>
                <div *ngIf="row.balance[i] !== -999" fxLayout="row">
                  <mat-icon class="s-18 pr-4 red-fg" *ngIf="row.balance[i] < 0">
                    arrow_downward
                  </mat-icon>

                  <mat-icon class="s-18 pr-4 green-fg" *ngIf="row.balance[i] > 0">
                    arrow_upward
                  </mat-icon>

                  <div [ngClass]="{'red-fg': row.balance[i] < 0, 'green-fg': row.balance[i] > 0}">
                    {{ (row.balance[i] + '').replace('-', '')}}%
                  </div>
                </div>
                <div *ngIf="row.balance[i] === -999" fxLayout="row">
                  <p>N/A</p>
                </div>
                <p>{{')'}}</p>
              </td>
            </div>
            <div *ngIf="row.date[i] === '---'" fxLayoutAlign="center center">
              <p>N/A</p>
            </div>
          </div>
        </div>
        <mat-divider [inset]="true"></mat-divider>
        <!-- BALANCE BODY -->
      </div>

    </div>
    <!-- OPTION LIST -->
  </div>
</fuse-widget>
