p{
    margin: 0px
}
.balance_content{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    // border: 1px solid #4CAF50;
    background: rgb(204, 235, 240);
    border-radius: 10px;
}