<div id="filterComponent">
  <form [formGroup]="filterForm" fxFill >
    <mat-form-field style="width: 100%;" >
          <mat-chip-list #filterList>
            <mat-chip *ngFor="let filterKey of filtersApplied"
              removable="true"
              (removed)="removeItemFromFilter(filterKey)">
              {{filterKey}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>

          <input style="width: 100%" #searchFilter
            placeholder="FILTRO"
            matChipInputAddOnBlur="true"
            formControlName="filterGroup"
            [matChipInputFor]="filterList"
            [matAutocomplete]="autoGroup">

        <mat-autocomplete #autoGroup="matAutocomplete">
          <mat-optgroup *ngFor="let group of eventGroupOptions | async" [ngStyle]="{'display': allOptionInGroupAreApplied(group.names) ? 'none' : 'block' }" [label]="group.letter">
            <mat-option *ngFor="let name of group.names" [ngStyle]="{'display': filtersApplied.includes(name) ? 'none' : 'block' }" [value]="name"
              (onSelectionChange)="onNewFilterAdded($event); ">
              {{name}}
            </mat-option>
          </mat-optgroup>
        </mat-autocomplete>

    </mat-form-field>
  </form>
</div>
