<div fxLayout="column" fxLayoutAlign="space-between stretch">
  <form [formGroup]="stateForm">
    <mat-form-field class="w-100-p" floatPlaceholder="never">
        <mat-chip-list matPrefix #filterList>
          <mat-chip fxLayoutWrap *ngFor="let category of filtersApplied"
                    removable="true"
                    (removed)="removeItemFromFilter(category)">
            {{category}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      <input matInput
          placeholder="Filtro"
          matChipInputAddOnBlur="true"
          #searchFilter
          formControlName="stateGroup"
          [matChipInputFor]="filterList"
          [matAutocomplete]="autoGroup">
      <mat-autocomplete #autoGroup="matAutocomplete">
        <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">
          <mat-option (onSelectionChange)="onNewFilterAdded($event); " *ngFor="let name of group.names" [value]="name">
            {{name}}
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
