<div id="dashboard-project" class="page-layout simple right-sidenav" fxLayout="row">

  <mat-sidenav-container>

    <!-- CENTER -->
    <div class="center" fusePerfectScrollbar>
    
      <!-- CONTENT TOOLBAR -->
      <div class="toolbar px-24 py-8">
    
        <div class="mail-selection" fxFlex="row" fxLayoutAlign="end center">
    
          <div fxFlex="100" id="details_title">
            <h2 style="text-align: center">
              {{ 'ESPECIFIC_CHART.TITLE_TEMPLATE' | translate }} {{ selectedEvent }}
            </h2>
          </div>
    
          <button mat-button class="mat-icon-button sidenav-toggle" fuseMatSidenavToggler="dashboards-right-sidenav" fxHide.gt-md aria-label="Toggle Sidenav">
            <mat-icon>menu</mat-icon>
          </button>
          <!-- <div class="toolbar-separator" *ngIf="hasSelectedMails"></div> -->
    
        </div>
      </div>
      <!-- / CONTENT TOOLBAR -->
    
    
    
      <!-- CONTENT -->
      <div class="content">
    
        <!-- WIDGET GROUP -->
        <div class="widget-group grey-100-bg" fxLayout="row" fxFlex="100" fxLayoutWrap *fuseIfOnDom>
    
          <!-- WIDGET 8 -->
          <fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-sm="100">
    
            <!-- Front -->
            <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
              <div class="h3 px-16 py-24">
                titulo
              </div>
    
              <mat-divider></mat-divider>
    
              <!-- <div class="h-400">
                      <ngx-charts-pie-chart *fuseIfOnDom [scheme]="widget8.scheme" [results]="widgets.widget8.mainChart" [legend]="widget8.legend"
                        [explodeSlices]="widget8.explodeSlices" [labels]="widget8.labels" [doughnut]="widget8.doughnut" [gradient]="widget8.gradient"
                        (select)="widget8.onSelect($event)">
                      </ngx-charts-pie-chart>
                    </div> -->
              <div class="h-400">
                <canvas baseChart [datasets]="eventTypeChart.datasets" [labels]="eventTypeChart.labels" [colors]="eventTypeChart.colors"
                  [options]="eventTypeChart.options" [chartType]="eventTypeChart.chartType">
                </canvas>
              </div>
    
            </div>
            <!-- / Front -->
    
          </fuse-widget>
          <!-- / WIDGET 8 -->
    
        </div>
        <!-- / WIDGET GROUP -->
    
      </div>
      <!-- / CONTENT -->
    
    </div>
    <!-- / CENTER -->

    <!-- SIDENAV -->
    <mat-sidenav #sidenav class="sidenav" align="end" mode="side" opened="true" fuseMatSidenavHelper="dashboards-right-sidenav" mat-is-locked-open="gt-md">

      <div class="sidenav-content" fusePerfectScrollbar *fuseIfOnDom>  

          <div class="search mat-white-bg" flex fxLayout="row" fxLayoutAlign="start center">
              <mat-icon>search</mat-icon>
              <input [placeholder]="'EVENTO'" fxFlex>
            </div>
    
    
            <div class="nav">
    
              <div class="nav-subheader">{{ 'ESPECIFIC_CHART.SIDEBAR.TITLE' | translate }} </div>
    
              <div class="nav-item" *ngFor="let eventType of eventList">
                <a class="nav-link" matRipple routerLinkActive="active" (click)="updateCharts(eventType)" >
                  <mat-icon class="nav-link-icon">linear_scale</mat-icon>
                  <span>{{eventType}}</span>
                </a>
              </div>
    
            </div>
      </div>

    </mat-sidenav>
    <!-- / SIDENAV -->

  </mat-sidenav-container>

</div>