md-sidenav, 
md-sidenav.md-locked-open, 
md-sidenav.md-closed.md-locked-open-add-active {
    width: 350px;
    min-width: 350px;
    max-width: 350px;
}

.sidenav-custom-width{
    width: 350px !important;
    min-width: 350px !important;
    max-width: 350px !important
}
